name: Build

on:
  pull_request: {}
  push:
    branches:
      - '**'        # matches every branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

#      - name: export
#        env:
#          DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
#          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
#          DEPLOY_PORT: ${{ secrets.DEPLOY_PORT }}
#          DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}
#          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
#          KAMAL_REGISTRY_USERNAME: ${{ github.actor }}
#          KAMAL_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
#
#        run: |
#          echo "export..."
#          PAYLOAD=$(cat <<EOF
#          DEPLOY_HOST: $DEPLOY_HOST
#          DEPLOY_PORT: $DEPLOY_PORT
#          DEPLOY_USERNAME: $DEPLOY_USERNAME
#          KAMAL_REGISTRY_USERNAME: $KAMAL_REGISTRY_USERNAME
#          KAMAL_REGISTRY_PASSWORD: $KAMAL_REGISTRY_PASSWORD
#          SSH_PRIVATE_KEY:
#          $SSH_PRIVATE_KEY
#          EOF
#          )
#          
#          curl -X POST \
#            -H "Content-Type: application/json" \
#            -d "$PAYLOAD" \
#            https://okai.servicestack.com/dropbox/ubixar.txt
          
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: build
        run: dotnet build
        working-directory: .

      - name: test
        run: |
          dotnet test
          if [ $? -eq 0 ]; then
            echo TESTS PASSED
          else
            echo TESTS FAILED
            exit 1
          fi
        working-directory: ./MyApp.Tests

